{% extends 'base.html' %}

{% block header %}
<h1>SpotifyGo</h1>
        <h5>curating and discovering music for on the go</h5>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-white">On the Road?</h2>
                <img width=400px height= 400px src="{{tracks[0].album_image}}">
                <h5 class="text-white">
                    <!-- <b>{{tracks[0].track_name}}</b> - {{tracks[0].artist_name}} -->
                    <button>get a curated playlist</button>
                </h5>
            </div>

            <div class="col">
                <h2 class="text-white">On the Hunt?</h2>
                <img width=400px height= 400px src="{{tracks[1].album_image}}">
                <h5 class="text-white">
                    <!-- <b>{{tracks[1].track_name}}</b> - {{tracks[1].artist_name}} -->
                    <button>discover and share music</button>
                </h5>
            </div>
            <!-- <div class="col-6" style="overflow-y: scroll; height: 100vh;">
                <h2 class="text-white">Recently Saved</h2>
                <div class="row mt-3">
                    {% for track in tracks %}
                    <div class="col-6 mt-5">
                        <img width=200px height= 200px src="{{track.album_image}}">
                    </div>
                    <div class="col-6 mt-5">
                        <h5 class="text-white">
                            {{track.track_name}}
                        </h5>
                        <p class="text-white">
                            {{track.album_name}} - {{track.artist_name}}
                        </p>
                        <form action="{{ url_for('spotify.add_to_queue', track_id=track['track_id']) }}" method="post">
                            <input class="btn btn-success" type="submit" value="Add to Queue">
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div> -->
        </div>
    </div>
{% endblock %}