html, body {
    background-color: #000000;
    text-align: center;
    color: white;
}

header {
    color: #DEFFF2;
    margin-top: 2%;
}

h1 {
    font-size: 85px;
}

h5 {
    color: #464F51;
}


button {
    color: white;
    border-block-style: round;
    border-radius: 20px;
    border: none;
    background-color: #D68FD6;
    padding: 8px;
    padding-left: 18px;
    padding-right: 18px;
    margin-top: 20px;
}