html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  text-align: center;
}

.middle-content {
  width: 100%;
}

.HomePage {
  width: 100%;
}

#root {
  margin: auto;
}

.snapshot {
  width: 400px;
  height: 400px;
}

#page-title{
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.col-4 {
  padding-left: 50px;
  padding-right: 50px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.dark-primary-color{ 
  background: #4CAF50; 
  border-color: #4CAF50;              
}
.default-primary-color { 
  background: #607D8B; 
  border-color: #607D8B;
}
.default-primary-color:hover{
  background: #4CAF50; 
  border-color: #4CAF50;
}

.light-primary-color   { background: #CFD8DC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; } 

.header {
  margin: 2%;
}

#root {
  width: 100%;
  height: 100%;
}

.container-fluid {
  height: 100%;
}

.HuntPage {
  width: 100%;
  height: 100%;
}

.row {
  height: 100%;
}

.map {
  height: 100%;
}

#mapObj {
  width: 100%;
  height: 100%;
}

